@model IEnumerable<PlanYourEvent.Models.EventDesp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dream Planners</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover sortable">
    <tr>
        <th>
            Event
        </th>
       <!-- <th>
            @Html.DisplayNameFor(model => model.ED_Name)
        </th>--->
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eventtype.Event_Name)
        </td>
        <!-- <td>
         @Html.DisplayFor(modelItem => item.ED_Name)
     </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (item.Photo != null)
            {
                <img src="~/Content/Images/@item.Photo" class="thumb" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EDId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EDId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EDId })
        </td>
    </tr>
}

</table>
